body{
    font-family: serif;
    color: brown;
    text-align: center;
}
footer{
    background-color: black;
    color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mensaje{
    font-weight: 800;
    background-color: brown;
    color: aliceblue;
    font-size: larger;
}
